* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 100vh;
}

.container {

    height: 100px;
    width: 500px;
    background-color: red;
    border: blue 5px solid;
}

#rNumbers , #numeriGiusti {

    line-height: 100px;
    text-align: center;
    font-size: 20px;
}